{% extends "global/base.html" %}
{% load static %}

{% block navbar %}
<li class="nav-item">
  <a class="nav-link mx-lg-2 active" aria-current="page" href="{% url 'home' %}"><h5>Lugares</h5></a>
</li>
<li class="nav-item">
  <a class="nav-link mx-lg-2" href="{% url 'hotel_list' %}"><h5>Hotéis</h5></a>
</li>
<li class="nav-item">
  <a class="nav-link mx-lg-2" href="#"><h5>Mapa</h5></a>
</li>
<li class="nav-item">
  <a class="nav-link mx-lg-2" href="{% url 'landing' %}"><h5>Hospedar</h5></a>
</li>
{% endblock navbar %}

{% block content %}

{% comment %} slide {% endcomment %}

<div id="carouselExampleAutoplaying" class="carousel slide" data-bs-ride="carousel">
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img src="{% static "global/img/banner01.png" %}" class="d-block w-100" alt="...">
    </div>
    <div class="carousel-item">
      <img src="{% static "global/img/banner-02.png" %}" class="d-block w-100" alt="...">
    </div>
    <div class="carousel-item">
      <img src="{% static "global/img/banner03.png" %}" class="d-block w-100" alt="...">
    </div>
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleAutoplaying" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleAutoplaying" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>

{% comment %} end-slide {% endcomment %}

<div class="col-xxl-center">
  <!-- Header text content-->
  <div class="text-center text-xxl-center">
      <div class="badge bg-gradient-primary-to-secondary text-white mb-4"><div class="text-uppercase">Design &middot; Development &middot; Marketing</div></div>
      <div class="fs-3 fw-light text-muted">Desfrute de tranquilidade e segurança</div>
      <h1 class="display-3 fw-bolder mb-5"><span class="text-gradient d-inline">Hospede seu <span style="text-decoration: underline;">imóvel</span> conosco!</span></h1>
      <div class="d-grid gap-3 d-sm-flex justify-content-sm-center justify-content-around mb-3">
          <a class="btn btn-outline-dark btn-lg px-5 py-3 fs-6 fw-bolder" href="{% url 'landing' %}">Hospedar</a>
      </div>
  </div>
</div>

{% comment %} cards {% endcomment %}

<div class="container py-5 mt-5">
  <h1 class="text-center">Hotéis populares em Belém</h1>

  <div class="row row-cols-1 row-cols-md-3 g-4 py-5">
    {% for lugar in lugares %}
    <div class="col">
      <div class="card h-100">
        <img src="{{ lugar.foto.url }}" class="card-img-top" alt="{{ lugar.nome }}">
        <div class="card-body">
          <h5 class="card-title">{{ lugar.nome }}</h5>
          <p class="card-text">{{ lugar.descricao }}</p>
          <div class="d-flex">

            <span class="text-warning">

              <div class="d-flex">
                <span class="text-warning">
                  {% if lugar.classificacao >= 1 %}<i class="bi bi-star-fill"></i>{% endif %}
                  {% if lugar.classificacao >= 2 %}<i class="bi bi-star-fill"></i>{% endif %}
                  {% if lugar.classificacao >= 3 %}<i class="bi bi-star-fill"></i>{% endif %}
                  {% if lugar.classificacao >= 4 %}<i class="bi bi-star-fill"></i>{% endif %}
                  {% if lugar.classificacao >= 5 %}<i class="bi bi-star-fill"></i>{% endif %}
                </span>
              </div>
              
            </span>

          </div>
        </div>
        <div class="mb-5 d-flex justify-content-around">
          <button class="btn btn-primary">Se hospedar</button>
        </div>
      </div>
    </div>
    {% endfor %}
  </div>
</div>

{% comment %} end cards {% endcomment %}

{% endblock content %}
