{% extends "global/base.html" %} {% load static %} {% block content %}

<script
  src="https://kit.fontawesome.com/a076d05399.js"
  crossorigin="anonymous"
></script>

<style>
  body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #f0f0f0;
    font-family: Arial, sans-serif;
    position: relative; /* Necessário para posicionar o botão no body */
  }

  .card {
    width: 600px;
    height: 420px;
    background-color: rgb(255, 255, 255);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px 30px;
    gap: 13px;
    position: relative;
    overflow: hidden;
    box-shadow: 2px 2px 20px rgba(0, 0, 0, 0.062);
  }

  .icon-card {
    font-size: 3em;
    color: rgb(46, 46, 46);
  }

  .cardHeading {
    font-size: 1.8em;
    font-weight: 800;
    color: rgb(26, 26, 26);
  }

  .cardDescription {
    text-align: center;
    font-size: 1em;
    font-weight: 600;
    color: rgb(99, 99, 99);
  }

  .buttonContainer {
    display: flex;
    gap: 20px;
    flex-direction: row;
  }

  .acceptButton {
    width: 100px;
    height: 40px;
    background-color: rgb(46, 46, 46);
    transition-duration: 0.2s;
    border: none;
    color: rgb(241, 241, 241);
    cursor: pointer;
    font-weight: 600;
    border-radius: 20px;
  }

  .declineButton {
    width: 100px;
    height: 40px;
    background-color: rgb(218, 218, 218);
    transition-duration: 0.2s;
    color: rgb(46, 46, 46);
    border: none;
    cursor: pointer;
    font-weight: 600;
    border-radius: 20px;
  }

  .declineButton:hover {
    background-color: #ebebeb;
    transition-duration: 0.2s;
  }

  .acceptButton:hover {
    background-color: rgb(66, 66, 66);
    transition-duration: 0.2s;
  }
</style>

<div class="container">
  <div class="card">
    <i class="icon-card bi bi-cursor-fill"></i>
    <p class="cardHeading">O que gostaria de fazer?</p>
    <p class="cardDescription">Disponibilize um lugar ou um hotel!</p>

    <div class="buttonContainer">
      <a href="{% url "lugar_create" %}">
        <button class="acceptButton">Lugar</button>
      </a>

      <a href="{% url "hotel_create" %}">
      <button class="declineButton">Hotel</button>
      </a>

    </div>
  </div>
</div>

<script
  src="https://kit.fontawesome.com/a076d05399.js"
  crossorigin="anonymous"
></script>

{% endblock content %}
